.topnav {
    background-color: transparent;
    overflow: hidden;
  }
  
  .topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 23px;
    font-family: Arial;
  }
  
  .topnav a:hover {
    background-color: transparent;
    color: white;
    font-weight: bold
  }
  
  .topnav .active {
    background-color: transparent;
    color: white;
    font-weight: bold
  
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media only screen and (max-device-width : 1141px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      display: none;
    }
    .topnav .active {
    display:none
    }
    .topnav a:hover {
    display:none
    }
    
    .topnav a {
    display:none
    }
  }
  
  @media only screen and (max-device-width : 1141px) {
    .topnav.responsive {display: none}
    .topnav.responsive a.icon {
      display:none
    }
    .topnav.responsive a {
      display: none;
    }
  }
  
body{
    background-image:url(background.jpg);
    background-size: cover;
    transform: translate3d(0px, 0px, 0px)
}

header {
    text-align: center;
    font-size: 350%;
    color: white;
    font-family: Arial;
}
div.rightnav{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 23px;
    font-family: Arial;
    padding:14px 16px
}
div.caption{
    text-align:center;
    color:white;
    font-size: 300%;
    font-family: Arial;
    font-style:italic
}

div.news{
    color:white;
    font-family: Arial
}

div.header{
    font-size: 32px;
    text-align:center;
    padding-top:50px
}
div.description{
    font-size:25px;
    text-align:center;
    padding-top:20px;
    padding-bottom:30px;
    color:white;
    font-family: Arial
}
a:link{
  color:white
}
a:visited{
  color:white
}
a:hover{
  color:white;
  font-weight: bold;
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px;  
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
  font-family: Arial;
}


input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Arial;
}


input[type=submit]:hover {
  background-color: rgb(46,46,46);
}


.container {
  border-radius: 5px;
  background-color:white;
  padding: 20px;
  filter:opacity(0.6);
  font-family: Arial;
}

.contain{
  background-color:white;
  border-radius: 5px;
  filter:opacity(0.6);
  font-family: Arial;
  padding-top:20px
}

/* Three columns side by side */
.column1 {
  float: left;
  width: 300px;
  margin-bottom: 16px;
  padding: 0 50px;
  padding-top:20px
}

.column2 {
  float: left;
  width: 300px;
  margin-bottom: 16px;
  padding: 0 50px;
  padding-top:20px;
}

.column3 {
  float: left;
  width: 300px;
  margin-bottom: 16px;
  padding: 0 50px;
  padding-top:20px;
}

.column4 {
  float: left;
  width: 300px;
  margin-bottom: 16px;
  padding: 0 50px;
  padding-top:20px;
}

.column5 {
  float: left;
  width: 300px;
  margin-bottom: 16px;
  padding: 0 50px;
  padding-top:20px;
}

/* Display the columns below each other instead of side by side on small screens */
@media only screen and (max-device-width : 1141px) {
  .column1 {
    width: 600px;
    display: block;
    text-align:center;
    padding-left: 18%
  }
  .column2 {
    width: 600px;
    display: block;
    text-align:center;
    padding-left: 18%
  }
  .column3 {
    width: 600px;
    display: block;
    text-align:center;
    padding-left: 18%
  }
  .column4 {
    width: 600px;
    display: block;
    text-align:center;
    padding-left: 18%
  }
  .column5 {
    width: 600px;
    display: block;
    text-align:center;
    padding-left: 18%
  }
  p.title{
    color:black;
    font-size:30px;
  }
  button.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 570px;
    font-size:30px
  }
  #name{
    font-size:50px;
  }
  div.rightnav{
    float: right;
    display:block;
    color: #f2f2f2;
    text-align: right;
    font-size: 30px;
    font-family: Arial;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.contain {
  padding: 0 16px;
  text-align:center
}

/* Clear floats */
.contain::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: black;
  font-size:15px
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 270px;
}

.button:hover {
  background-color: #555;
}

div.row{
  padding-top:20px
}

div.erinbio{
  background-color:white;
  border-radius: 5px;
  filter:opacity(0.6);
  font-family: Arial;
  text-align:center;
  padding-top:10px;
  padding-bottom:20px;
  padding-left:10px;
  padding-right:10px;
  display:none;
  font-size:30px;
}


div.erinbiomobile{
  background-color:white;
  border-radius: 5px;
  filter:opacity(0.6);
  font-family: Arial;
  text-align:center;
  padding-top:10px;
  padding-bottom:20px;
  padding-left:10px;
  padding-right:10px;
  display:none;
  font-size:30px;
}

div.staff2biomobile{
  background-color:white;
  border-radius: 5px;
  filter:opacity(0.6);
  font-family: Arial;
  text-align:center;
  padding-top:10px;
  padding-bottom:20px;
  padding-left:10px;
  padding-right:10px;
  display:none;
  font-size:30px;
}

div.staff3biomobile{
  background-color:white;
  border-radius: 5px;
  filter:opacity(0.6);
  font-family: Arial;
  text-align:center;
  padding-top:10px;
  padding-bottom:20px;
  padding-left:10px;
  padding-right:10px;
  display:none;
  font-size:30px;
}

div.staff4biomobile{
  background-color:white;
  border-radius: 5px;
  filter:opacity(0.6);
  font-family: Arial;
  text-align:center;
  padding-top:10px;
  padding-bottom:20px;
  padding-left:10px;
  padding-right:10px;
  display:none;
  font-size:30px;
}

div.staff5biomobile{
  background-color:white;
  border-radius: 5px;
  filter:opacity(0.6);
  font-family: Arial;
  text-align:center;
  padding-top:10px;
  padding-bottom:20px;
  padding-left:10px;
  padding-right:10px;
  display:none;
  font-size:30px;
}

div.staff2bio{
  background-color:white;
  border-radius: 5px;
  filter:opacity(0.6);
  font-family: Arial;
  text-align:center;
  padding-top:10px;
  padding-bottom:20px;
  padding-left:5px;
  padding-right:5px;
  display:none;
  font-size:30px
}

div.staff3bio{
  background-color:white;
  border-radius: 5px;
  filter:opacity(0.6);
  font-family: Arial;
  text-align:center;
  padding-top:10px;
  padding-bottom:20px;
  padding-left:5px;
  padding-right:5px;
  display:none;
  font-size:30px
}

div.staff4bio{
  background-color:white;
  border-radius: 5px;
  filter:opacity(0.6);
  font-family: Arial;
  text-align:center;
  padding-top:10px;
  padding-bottom:20px;
  padding-left:5px;
  padding-right:5px;
  display:none;
  font-size:30px
}

div.staff5bio{
  background-color:white;
  border-radius: 5px;
  filter:opacity(0.6);
  font-family: Arial;
  text-align:center;
  padding-top:10px;
  padding-bottom:20px;
  padding-left:5px;
  padding-right:5px;
  display:none;
  font-size:30px
}

#image{
  border-radius: 10%;
  width:290px;
  height:290px;
  border:5px solid white
}

@media only screen and (max-device-width : 1141px){
  #image{
    border-radius: 10%;
    width:600px;
    height:600px;
  }
}

div.sidenav{
  display:none
}

#openmenubutton{
  display:none
}

@media only screen and (max-device-width: 1141px){
  #openmenubutton{
    display:block;
    float:left;
    padding-top:1px;
  }
}

#ccpglogo{
  margin-left:auto;
  margin-right:auto;
  display:block;
  width: 100%;
  height: auto;
  max-width: 30%;
}

div.overlay{
  opacity:    0.5; 
  background: black; 
  width:      100%;
  height:     250%; 
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   absolute;
  display:none
}

div.menu{
  color:white;
  font-family:Arial;
  font-size:25px;
  border-color: white;
  border-width: 5px;
}

#menubutton{
  background-color:rgb(46,46,46);
  height:50px;
  border-radius: 5px;
  border-width: 5px;
  color:black;
  font-family:Arial;
  font-size:30px;
  filter:brightness(15);
  border-color:white;
  padding-left:5px;
  padding-right:5px
}

#emma{
  width: auto;
  height: 37vh;
  z-index:2;
  border: 7px solid white;
  min-height: calc(100vh - 720px);
}

#baba{
  width: auto;
  height: 37vh;
  z-index: 2;
  border: 7px solid white;
  min-height: calc(100vh - 720px);
}

#loading-img{
  display:none;
}
div.doges {
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
}
.ccpglogo1 {
  width: 100%;
  height: auto;
}
button#dropdownheader1, button#dropdownheader2, button#dropdownheader3, button#dropdownheader4{
  text-align: center;
  background-color: black;
  color: white;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 2px 2px;
}
div#dropdowntext1, div#dropdowntext2, div#dropdowntext3, div#dropdowntext4 {
  font-size: 25px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
  color: white;
  font-family: Arial;
  display: none;
}
div.heading header{
  margin-bottom: 5px;
}